<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NorthStorm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NorthStorm.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid h6">
                <a class="navbar-brand text-black" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/noc.jpg" class="rounded-circle" width="32" height="32" alt="Avatar" />
                    North Storm
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between dropstart">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-black" href="#" aria-expanded="false">
                                قسم إدارة الموارد البشرية
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة التعيينات
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Recruitments" asp-action="Index">وحدة التعيينات</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة المتعاقدين</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة الأرشفة</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة النقل والتنسيب
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" asp-controller="JobTransfers" asp-action="Index">وحدة النقل الداخلي</a></li>
                                        <li><a class="nav-link text-black" asp-controller="JobTransfers" asp-action="Index">وحدة النقل الخارجي</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة الترقيات
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Employees" asp-action="Index">الموظفين</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة الترقيات والترفيع</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة تغيير العناوين الوظيفية</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة ترقيات رؤساء المهن</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة الإحصاء
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">وحدة بنك المعلومات</a></li>
                                        <li><a class="nav-link text-black" href="#">و. احصائيات القوى العاملة</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة قاعدة البيانات</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة الإدارة والتوثيق
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">وحدة الإدارة</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة الأرشيف</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة البريد الشبكي</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة الصادرة والواردة</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة الخدمة والتقاعد
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">وحدة التقاعد</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة الغيابات</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة احتساب الخدمة</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة متابعة ذوي الشهداء</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-black" href="#" aria-expanded="false">
                                قسم التطوير
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة التدريب والتطوير
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                                                            </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">وحدة .....</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة .....</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة .....</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة الايفادات
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">وحدة .....</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة .....</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة .....</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-black" href="#" aria-expanded="false">
                                قسم العلاقات العامة
                                <i class="fa fa-caret-down" aria-hidden="true"></i>

                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة الاعلام
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">وحدة التوثيق</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة الخط والتصوير</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة الموقع الالكتروني</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة المطبعة
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">وحدة الأرشفة</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة .....</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة .....</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة الموفدين
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">وحدة الحجوزات</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة .....</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة .....</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="test nav-link text-black" href="#" aria-expanded="false">
                                قسم الخدمات الادارية
                                <i class="fa fa-caret-down" aria-hidden="true"></i>

                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة دور الضيافة
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">وحدة مركز بابا الثقافي</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة مركز عرفة الثقافي</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة دار استراحة بابا</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة التغذية
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">وحدة مطعم ك1</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة دار عزاب بابا</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة دار عزاب ك1</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        شعبة الاسكان
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>

                                    </a>
                                    <ul class="dropdown-menu text-black">
                                        <li><a class="nav-link text-black" href="#">وحدة اسكان بابا</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة اسكان عرفة</a></li>
                                        <li><a class="nav-link text-black" href="#">وحدة اسكان الزاب</a></li>
                                    </ul>
                                </li>
                                <li><a class="nav-link text-black" href="#">و. مخزن الأرزاق المركزي</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="test nav-link text-black" href="#" aria-expanded="false">
                                إدارة النظام
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        الإعدادات العامة
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Locations" asp-action="Index">المواقع الجغرافية</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="GovernmentalInstitutes" asp-action="Index">المؤسسات الحكومية</a></li>
                                        <li><a class="nav-link text-black" href="#">...</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        الإعدادات الوظيفية
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Levels" asp-action="Index">الهيكل التنظيمي</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="JobTitles" asp-action="Index">العناوين الوظيفية</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Grades" asp-action="Index">الدرجات والمراحل</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        التصنيفات الأساسية
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="JobTitleClassifications" asp-action="Index">تصنيفات العناوين الوظيفية</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="LocationClassifications" asp-action="Index">تصنيفات المواقع الجغرافية</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="LevelClassifications" asp-action="Index">تصنيفات الهيكل التنظيمي</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Genders" asp-action="Index">تصنيفات الجنس</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Races" asp-action="Index">تصنيفات القومية</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Nationalities" asp-action="Index">تصنيفات الجنسية</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Religions" asp-action="Index">تصنيفات الديانة</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="test nav-link text-black" href="#" aria-expanded="false">
                                قاعدة الترميز
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">

                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        الترميز العام
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">

                                        <li><a class="nav-link text-black" asp-area="" asp-controller="fus" asp-action="Index">وزارات الدولة</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="StatOffices" asp-action="Index">الدوائر والمؤسسات</a></li>

                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Locations" asp-action="Index">الموقع الجغرافي</a></li>
                                        <li><a class="nav-link text-black" href="#">الاقضية</a></li>

                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Countries" asp-action="Index">الدول العربية والاجنبية</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        الموارد البشرية
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Grades" asp-action="Index">الدرجات والرواتب</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Certificates" asp-action="Index">الشهادات الدراسية</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Universities" asp-action="Index">الجامعات والمؤسسات التعليمية</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="CollegeInst" asp-action="Index">الكليات والمعاهد</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Specializ" asp-action="Index">التخصصات الدراسية</a></li>
                                        <li><a class="nav-link text-black" >العناوين الوظيفية</a></li>
                                        <li><a class="nav-link text-black" href="#">المهن والدور الوظيفي</a></li>
                                        <li><a class="nav-link text-black" asp-area="" asp-controller="Divs" asp-action="Index">هيئات الشركة</a></li>
                                        <li><a class="nav-link text-black" href="#">التشكرات والمكافئات</a></li>
                                        <li><a class="nav-link text-black" href="#">العقوبات والتضمين</a></li>
                                        <li><a class="nav-link text-black" href="#">الشهادات والاختصاصات</a></li>
                                        <li><a class="nav-link text-black" href="#">المخصصات والحوافز</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        التدريب والتطوير
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-black" href="#">الدورات </a></li>
                                        <li><a class="nav-link text-black" href="#">الايفادات</a></li>
                                        <li><a class="nav-link text-black" href="#">التدريب</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropend">
                                    <a class="nav-link text-black" href="#" aria-expanded="false">
                                        العلاقات العامة
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu text-black">
                                        <li><a class="nav-link text-black" href="#">الايفاد الداخلي</a></li>
                                        <li><a class="nav-link text-black" href="#">الهويات</a></li>
                                        <li><a class="nav-link text-black" href="#">نادي عرفة</a></li>
                                    </ul>
                                </li>
                                <li><a class="nav-link text-black" href="#">الشعبة الرياضية</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link text-black" asp-area="" asp-controller="encrypt" asp-action="Index">encryptions</a></li>
                        <li><a class="nav-link text-black" asp-area="" asp-controller="decrypt" asp-action="Index">decryption</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>

    <div class="container" style="margin-top:80px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>

            <!--Success Dialog Start-->
            <div id="myModalSuccess" class="modal fade text-width:30%;" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h2>معلومات</h2>
                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                        </div>

                        <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">
                            this is a modal body. our message will appear here.
                        </div>

                        <div class="modal-footer">
                            &nbsp;
                            <button id="alertCloseButton" type="button" class="btn btn-info" data-bs-dismiss="modal" action="dispose">إغلاق</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--Success Dialog End-->
            <!--Error Dialog Start-->
            <div id="myModalError" class="modal fade text-width:30%;" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h2>خطأ</h2>
                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                        </div>

                        <div id="MyModalErrorAlertBody" class="modal-body alert alert-danger">
                            this is a modal body. our message will appear here.
                        </div>

                        <div class="modal-footer">
                            &nbsp;
                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">إغلاق</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--Error Dialog End-->
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - NorthStorm - <a asp-area="" asp-controller="Home" asp-action="Privacy">سياسة الخصوصية</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
